[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/fundii_backend
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile /home/ubuntu/fundii_backend/logs/gunicorn/access.log --error-logfile /home/ubuntu/fundii_backend/logs/gunicorn/error.log --workers 3 --bind unix:/home/ubuntu/fundii_backend/fundii_backend/fundii_backend.sock fundii_backend.wsgi:application

       
[Install]
WantedBy=multi-user.target